In [1]:
#!pip install imbalanced-learn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/drive/MyDrive/DF/DF - 수소버스/변수선택.csv', encoding="CP949")
df.head()

,day,W_s,Dew,Press,See_1,일산화탄소농도,미세먼지농도,초미세먼지농도
0,2022-01-01,0.916291,-15.078261,1020.221739,1,0.624,27.80,0
1,2022-01-02,1.225000,-8.450000,1015.654167,1,0.612,35.32,0
2,2022-01-03,1.063273,-10.100000,1015.504167,1,0.660,25.90,0
3,2022-01-04,1.215160,-10.566667,1016.833333,1,0.594,35.00,0
4,2022-01-05,1.002468,-13.104167,1017.091667,1,0.812,48.26,0

In [5]:
#데이터 불균형 확인
df['초미세먼지농도'].value_counts()

0    330
1     35
Name: 초미세먼지농도, dtype: int64

In [ ]:
#train, test 분리
from sklearn.model_selection import train_test_split
feature = df.iloc[:,1:7]
target = df['초미세먼지농도']

X_train, y_train, X_test, y_test = train_test_split(feature, target, test_size=0.3, stratify=target, random_state=100)

In [16]:
#oversampling
from imblearn.over_sampling import RandomOverSampler
X_train2, X_test2 = RandomOverSampler(random_state=0).fit_resample(X_train, X_test)
y_train2, y_test2 = RandomOverSampler(random_state=0).fit_resample(y_train, y_test)

In [17]:
# taget에 대해 불균형 해소
print(X_test.value_counts())
print(X_test2.value_counts())

0    231
1     24
Name: 초미세먼지농도, dtype: int64
0    231
1    231
Name: 초미세먼지농도, dtype: int64

# 모델링
- DNN : 이규린
- DecisionTree: 박지영
- GLM : 김규리
- RandomForest : 유희원