In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/82102/OneDrive/Documents/카카오톡 받은 파일/df.csv', encoding = 'cp949')

In [3]:
data

,day,Temp,rainfall,W_s,Humi,Dew,Press,rand_temp,See_1,W_d,이산화질소농도,오존농도,일산화탄소농도,아황산가스농도,미세먼지농도,초미세먼지농도
0,2022-01-01,-4.595652,0.200671,0.916291,44.391304,-15.078261,1020.221739,-2.982609,1,NE,0.03412,0.01278,0.624,0.00352,27.80,14.38
1,2022-01-02,-1.150000,0.139762,1.225000,58.875000,-8.450000,1015.654167,-0.891667,1,NE,0.02966,0.01638,0.612,0.00334,35.32,23.58
2,2022-01-03,-2.387500,0.000000,1.063273,56.083333,-10.100000,1015.504167,-2.170833,1,W,0.03846,0.00894,0.660,0.00360,25.90,15.04
3,2022-01-04,-1.970833,0.000000,1.215160,55.000000,-10.566667,1016.833333,-1.300000,1,WNW,0.02618,0.01678,0.594,0.00372,35.00,19.60
4,2022-01-05,-3.066667,0.200671,1.002468,46.375000,-13.104167,1017.091667,-2.816667,1,NE,0.04180,0.00664,0.812,0.00404,48.26,28.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2022-12-27,-2.641667,0.200671,1.017643,69.208333,-7.687500,1018.008333,-2.766667,1,['NNE' 'WNW'],0.04670,0.00826,0.872,0.00366,49.08,36.00
361,2022-12-28,-2.916667,0.048790,1.240787,58.916667,-10.191667,1019.058333,-2.295833,1,W,0.02792,0.01738,0.564,0.00352,34.92,20.46
362,2022-12-29,-3.295833,0.000000,1.002468,54.375000,-11.454167,1021.512500,-2.870833,1,['W' 'WNW'],0.03286,0.01290,0.576,0.00380,30.10,17.84
363,2022-12-30,-1.383333,0.000000,1.073294,65.708333,-7.362500,1020.816667,-1.279167,1,W,0.03366,0.01472,0.606,0.00360,38.20,26.94
364,2022-12-31,-1.654167,0.000000,0.856187,65.708333,-7.241667,1019.700000,-2.254167,1,['NE' 'NNE'],0.04198,0.00830,0.786,0.00378,43.18,32.22

In [4]:
def change_value(x):
    if x >= 35:
        return 1
    else:
        return 0

# 16열의 모든 행에 대해 apply 함수를 사용하여 값 변경
data.iloc[:, 15] = data.iloc[:, 15].apply(change_value)

data

C:\Users\82102\AppData\Local\Temp\ipykernel_18292\4052547481.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.iloc[:, 15] = data.iloc[:, 15].apply(change_value)

,day,Temp,rainfall,W_s,Humi,Dew,Press,rand_temp,See_1,W_d,이산화질소농도,오존농도,일산화탄소농도,아황산가스농도,미세먼지농도,초미세먼지농도
0,2022-01-01,-4.595652,0.200671,0.916291,44.391304,-15.078261,1020.221739,-2.982609,1,NE,0.03412,0.01278,0.624,0.00352,27.80,0
1,2022-01-02,-1.150000,0.139762,1.225000,58.875000,-8.450000,1015.654167,-0.891667,1,NE,0.02966,0.01638,0.612,0.00334,35.32,0
2,2022-01-03,-2.387500,0.000000,1.063273,56.083333,-10.100000,1015.504167,-2.170833,1,W,0.03846,0.00894,0.660,0.00360,25.90,0
3,2022-01-04,-1.970833,0.000000,1.215160,55.000000,-10.566667,1016.833333,-1.300000,1,WNW,0.02618,0.01678,0.594,0.00372,35.00,0
4,2022-01-05,-3.066667,0.200671,1.002468,46.375000,-13.104167,1017.091667,-2.816667,1,NE,0.04180,0.00664,0.812,0.00404,48.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2022-12-27,-2.641667,0.200671,1.017643,69.208333,-7.687500,1018.008333,-2.766667,1,['NNE' 'WNW'],0.04670,0.00826,0.872,0.00366,49.08,1
361,2022-12-28,-2.916667,0.048790,1.240787,58.916667,-10.191667,1019.058333,-2.295833,1,W,0.02792,0.01738,0.564,0.00352,34.92,0
362,2022-12-29,-3.295833,0.000000,1.002468,54.375000,-11.454167,1021.512500,-2.870833,1,['W' 'WNW'],0.03286,0.01290,0.576,0.00380,30.10,0
363,2022-12-30,-1.383333,0.000000,1.073294,65.708333,-7.362500,1020.816667,-1.279167,1,W,0.03366,0.01472,0.606,0.00360,38.20,0
364,2022-12-31,-1.654167,0.000000,0.856187,65.708333,-7.241667,1019.700000,-2.254167,1,['NE' 'NNE'],0.04198,0.00830,0.786,0.00378,43.18,0

In [5]:
data['초미세먼지농도'].value_counts()

0    330
1     35
Name: 초미세먼지농도, dtype: int64

In [10]:
file_path = 'C:/Users/82102/OneDrive/Documents/카카오톡 받은 파일/data.csv'
data.to_csv(file_path, index=False, encoding = 'cp949')